@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@font-face {
  font-family: Pokemon;
  src: url("../assets/Pokemon/GB.ttf");
}

* {
  font-family: 'Pokemon', 'Press Start 2P', sans-serif;
}

:root {
  line-height: 1.5;
  font-weight: 200;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: grey;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2em;
  margin: 1.2em;
  border-radius: 10px;
  background-image: url("./assets/front.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 190px;
  height: 280px;
  transition: transform 0.6s ease, background-image 0.6s ease;
  transform-style: preserve-3d;
}

/* .pokemon-card:hover {
  transform: translateY(-0.2em);
} */

.pokemon-card img {
  width: 100px;
  height: 100px;
  position: relative;
  bottom: -30px;
}

.pokemon-card h3 {
  margin-top: 2.5em;
  margin-bottom: 0.5em;
}

.pokemon-card p {
  font-size: 0.8em;
}

.card-back {
  background-image: url("./assets/back.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotateY(180deg);
}

.card-back * {
  display: none
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1.2em;
  justify-content: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  padding: 1.2em;
  border: black 5px solid;
}

.links {
  display: flex;
  padding: 1.2em;
}
.buttons {
  display: flex;
}

.buttons * {
  margin-inline: 1em;
}

.scoreboard {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  gap: 0.6em;
}

body {
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}